@import 'Main.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	overflow-x: hidden;
}

@keyframes fade-in {
	from {
		opacity: 0;

	}
	to {
		opacity: 1;
	}
}

body {
	position: relative;
	animation-name: fade-in;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

a {
	color: gray;
}
