@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

$blue: #0984e3;
$blue-dark: #2980b9;
$red: #e74c3c;
$red-dark: #c0392b;

.hidden {
	display: none!important;
}