
.btn {
	background-color: white;
	border: none;
	font-family: 'Montserrat';
	font-size: 0.8rem;
	height: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
	padding: 26px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	transition: color 0.2s;
}

.btn span {
	align-self: center!important;
}

.btn-nodrop {
	box-shadow: none;
	opacity: 1;
}

.btn-nodrop:hover {
	opacity: 0.5;
}

.btn-line:hover {
	opacity: 1;
}

.btn-sm {
    width: 24px;
}

.btn-md {
    width: 33%;
}

.btn-lg {
	width: 180px;
}

.btn-blue {
	background-color: #0984e3;
	color: white;
}

.btn-blue:hover {
	background-color: #2980b9;
}

.btn-red {
	background-color: #e74c3c;
	color: white;
}

.btn-red:hover {
	background-color: #c0392b;
}

button i {
	font-size: 1.3em!important;	
}

button:hover {
	cursor: pointer;
}
